/* SECTION
-------------------- */
.attraction-info {
    display: flex;
    flex-direction: row;
    height: 400px;
    padding: 0 15px;
    margin: 91px 0 37px 0 ;
    gap: 30px;
}


.img-attraction {
    height: 400px;
    width: 540px;
    margin: 0 30px 0 0;
    position: relative;
    overflow:  hidden;
    border-radius: 5px;
}

.slideshow {
    width: 540px;
    height: 400px;
    position: relative;
    transition: 2s;
    border-radius: 5px;
    overflow: hidden;
}

.slide__item {
    width: 100%;
    height: 100%;
}

.slide__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.slide__direction {
    height: 100%;
    width: 100%;
    top: calc((100% - 36px) / 2);
    position: absolute;
    left: 0;
}

.slide__arraw:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: 1 ease;
}

.slide__arraw--prev {
    position: absolute;
    left: 10px;
    opacity: 0.5;
}

.slide__arraw--next {
    position: absolute;
    right: 10px;
    opacity: 0.5;

}

.slide__dot {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 10px;
}

.dot {
    background-color: #FFF;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 6px;
    opacity: 0.6;
}
  
.dot:hover, .active {
    background-color: rgba(0, 0, 0);
    border: 2px solid #FFF;
}

.fades {
    animation: 1.5s fades;
}


@keyframes fades {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
}

@media (max-width: 1200px) {
    .attraction-info {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 54px 0 40px 0 ;
        padding: 0;
    }

    .slideshow {
        width: 100%;
        height: 350px;
        border-radius: 0px;
        margin: 0 auto;
        
    }

    .slide__item {
        width: 100%;
        height: 100%;
        object-fit: cover;
        vertical-align: middle;
    }

    .menu {
        margin: 0 10px;
    }
}


/* SECTION-MENU
-------------------- */

.menu {
    display: flex;
    flex-direction: column;
    padding: 9px 0 ;
}

.menu .h3-bold {
    color: var(--secondary-color-gray-70, #666);;
}

.menu__subtitle {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.menu__subtitle.body-med {
    color: var(--secondary-color-gray-70, #666);;
}




/* SECTION-ORDER
-------------------- */
.menu__order {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    height: 302px;
    width: 600px;
    background-color: var(--secondary-color-gray-20, #E8E8E8);
    border-radius: 5px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
}

@media (max-width: 1200px) {
    .menu__order {
        width: 100%;
    }
}

.order__title.body-bold {
    color: var(--secondary-color-gray-70, #666);
}

.order__info.body-med {
    color: var(--secondary-color-gray-70, #666);
}

/* SECTION-ORDER--date
-------------------- */
.order__date {
    display: flex;
    align-items: center;
    height: 35px;
}

.date__block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 193px;
    height: 35px;
    background-color: #FFF;
    padding: 5px 10px;
    position: relative;
}

input {
    width: 173px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: none;
}

.date__select {
    background: url(../image/icon_calendar.png) right / 18px 18px no-repeat;

}

.date__title.body-bold {
    color: var(--secondary-color-gray-70, #666);;
}


/* SECTION-ORDER--time
-------------------- */
.order__time {
    display: flex;
    align-items: center;
    height: 35px;
}

.time__title {
    width: 81px;
}

input[type="radio"]{
    -webkit-appearance: none; /* 隱藏預設樣式（適用於某些瀏覽器） */
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%; /* 讓 radio 按鈕成為圓形 */
    background-color: #FFF; /* 設定未選取時的背景色 */
    cursor: pointer;
}
.radio__input{
  width: 22px;
  height: 22px;
  margin-right: 4px;
  &:checked{
    background-color: #489;
    border: 2px solid #FFF; /* 設定選取時的邊框 */
  }
}

.time__label {
    margin-right: 13px;
}

.time__title.body-bold {
    color: var(--secondary-color-gray-70, #666);
}

.time__label.body-med {
    color: var(--secondary-color-gray-70, #666);
}

/* SECTION-ORDER--price
-------------------- */
.order__price {
    display: flex;
    align-items: center;

    height: 35px;
}

.price__title.body-bold {
    color: var(--secondary-color-gray-70, #666);
}

.price__fee.body-med {
    color: var(--secondary-color-gray-70, #666);
}


/* SECTION-ORDER--check
-------------------- */
.order__check {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 154px;
    height: 36px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--primary-color-cyan-70, #489);;
}

.order__check.btn-reg {
    color: var(--additional-color-white, #FFF);
}


/* MAIN
-------------------- */
.description {
    display: flex;
    flex-direction: column;
    padding: 40px 10px 40px 10px;
    border-top: 1px solid #E8E8E8;
}

.description__title {
    display: flex;
    height: 32px;
    align-items: center;
    margin-top: 20px;
}

.description .body-bold {
    color: var(--secondary-color-gray-70, #666);
}

.description .content-reg {
    color: var(--secondary-color-gray-70, #666);
}

@media (max-width: 1200px) {
    .description {
        margin: 0 10px 0 20px;
    }
}