{% extends "base.html" %} {% block CSSstyle %}
<link rel="stylesheet" type="text/css" href="../static/css/attraction.css" />
{% endblock %} {% block Content %}
<section class="container">
	<div id="infoContainer" class="attraction-info">
		<div id="imageSlide" class="slideshow">
			<img
				id="prev"
				class="slide__arraw slide__arraw--prev"
				src="../static/image/img_prev.png"
			/>
			<img
				id="next"
				class="slide__arraw slide__arraw--next"
				src="../static/image/img_next.png"
			/>
			<div id="slideDot" class="slide__dot"></div>
		</div>
		<div id="menu" class="menu">
			<div class="menu__order">
				<span class="order__title body-bold">訂購導覽行程</span>
				<span class="order__info body-med"
					>以此景點為中心的一日行程，帶您探索城市角落故事
				</span>
				<div class="order__date">
					<span class="date__title body-bold">選擇日期：</span>
					<div class="date__block">
						<input
							id="dateSelect"
							type="date"
							class="date__select body-med"
						/>
					</div>
				</div>

				<div class="order__time">
					<span class="time__title body-bold">選擇時間：</span>
					<input
						type="radio"
						id="timeMorning"
						class="time__morning radio__input"
						name="time__select"
						value="上半天"
						checked
					/>
					<label for="timeMorning" class="time__label body-med"
						>上半天</label
					>
					<input
						type="radio"
						id="timeAfternoon"
						class="time__afternoon radio__input"
						name="time__select"
						value="下半天"
					/>
					<label for="timeAfternoon" class="time__label body-med"
						>下半天</label
					>
				</div>

				<div class="order__price">
					<span class="price__title body-bold">導覽費用：</span>
					<span id="priceFee" class="price__fee body-med">
						新台幣 2000元
					</span>
				</div>

				<button id="orderCheck" class="order__check btn-reg">
					開始預約行程
				</button>
			</div>
		</div>
	</div>
</section>
<main class="container">
	<div id="description" class="description">
		<span class="description__title body-bold">景點地址：</span>
		<span class="description__title body-bold">交通方式</span>
	</div>
</main>
{% endblock %} {% block Script %}
<script defer type="text/javascript" src="../static/js/attraction.js"></script>
{% endblock %}
