<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Base</title>
		<link
			rel="stylesheet"
			type="text/css"
			href="https://unpkg.com/ress/dist/ress.min.css"
		/>
		<link rel="stylesheet" type="text/css" href="../static/public.css" />
		<link
			rel="stylesheet"
			type="text/css"
			href="../static/attraction.css"
		/>
		<link rel="stylesheet" type="text/css" href="../static/style.css" />
	</head>
	<body>
		<header class="head fixed-top">
			<div class="head-content">
				<button id="title" class="h2-bold">台北一日遊</button>
				<nav>
					<ul class="header-nav">
						<li>
							<button class="body-med" type="button">
								預定行程
							</button>
						</li>
						<li>
							<button
								id="loginRegisterButton"
								class="body-med"
								type="button"
							>
								登入/註冊
							</button>
							<dialog id="loginDialog" class="nav__login">
								<div class="login__bar"></div>
								<span class="login__title h3-bold"
									>登入會員帳號</span
								>
								<button id="loginClose" class="login__close">
									<img src="../static/icon/icon_close.png" />
								</button>
								<input
									id="loginEmail"
									class="login__eamil body-med"
									placeholder="輸入電子信箱"
								/>
								<input
									id="loginPassword"
									class="login__password body-med"
									placeholder="輸入密碼"
								/>
								<button
									id="loginButton"
									class="login__button btn-reg"
								>
									登入帳戶
								</button>
								<button
									id="loginRegist"
									class="login__regist body-med"
								>
									還沒有帳戶？點此註冊
								</button>
							</dialog>

							<dialog id="registDialog" class="nav__regist">
								<div class="regist__bar"></div>
								<span class="regist__title h3-bold"
									>註冊會員帳號</span
								>
								<button id="registClose" class="regist__close">
									<img src="../static/icon/icon_close.png" />
								</button>
								<input
									id="registName"
									class="regist__name body-med"
									placeholder="輸入姓名"
								/>
								<input
									id="registEmail"
									class="regist__eamil body-med"
									placeholder="輸入電子郵件"
								/>
								<input
									id="registPassword"
									class="regist__password body-med"
									placeholder="輸入密碼"
								/>
								<button
									id="registButton"
									class="regist__button btn-reg"
								>
									註冊新帳戶
								</button>
								<button
									id="registLogin"
									class="regist__login body-med"
								>
									已經有帳戶了？點此登入
								</button>
							</dialog>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<section class="container">
			<div id="infoContainer" class="attraction-info">
				<div id="imageSlide" class="slideshow">
					<img
						id="prev"
						class="slide__arraw slide__arraw--prev"
						src="../static/icon/img_prev.png"
					/>
					<img
						id="next"
						class="slide__arraw slide__arraw--next"
						src="../static/icon/img_next.png"
					/>
					<div id="slideDot" class="slide__dot"></div>
				</div>
				<div id="menu" class="menu">
					<div class="menu__order">
						<span class="order__title body-bold">訂購導覽行程</span>
						<span class="order__info body-med"
							>以此景點為中心的一日行程，帶您探索城市角落故事
						</span>
						<div class="order__date">
							<span class="date__title body-bold"
								>選擇日期：</span
							>
							<div class="date__block">
								<input
									type="date"
									class="date__select body-med"
								/>
							</div>
						</div>

						<div class="order__time">
							<span class="time__title body-bold"
								>選擇時間：</span
							>
							<input
								type="radio"
								id="timeMorning"
								class="time__morning radio__input"
								name="time__select"
								value="上半天"
								checked
							/>
							<label
								for="timeMorning"
								class="time__label body-med"
								>上半天</label
							>
							<input
								type="radio"
								id="timeAfternoon"
								class="time__afternoon radio__input"
								name="time__select"
								value="下半天"
							/>
							<label
								for="timeAfternoon"
								class="time__label body-med"
								>下半天</label
							>
						</div>

						<div class="order__price">
							<span class="price__title body-bold"
								>導覽費用：</span
							>
							<span id="priceFee" class="price__fee body-med">
								新台幣 2000元
							</span>
						</div>

						<button class="order__check btn-reg">
							開始預約行程
						</button>
					</div>
				</div>
			</div>
		</section>
		<main class="container">
			<div id="description" class="description">
				<span class="description__title body-bold">景點地址：</span>
				<span class="description__title body-bold">交通方式</span>
			</div>
		</main>
		<footer class="footer">
			<div class="container body-bold">COPYRIGHT © 2021 台北一日遊</div>
		</footer>
		<script
			defer
			type="text/javascript"
			src="../static/attraction.js"
		></script>
		<script defer type="module" src="../static/user.js"></script>
	</body>
</html>
