<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Base</title>
		<link
			rel="stylesheet"
			type="text/css"
			href="https://unpkg.com/ress/dist/ress.min.css"
		/>
		<link rel="stylesheet" type="text/css" href="../static/base.css" />
	</head>
	<body>
		<header>
			<div class="head">
				<h1 href="">台北一日遊</h1>
				<nav>
					<ul class="header-nav">
						<li><button type="button">預定行程</button></li>
						<li><button type="button">登入/註冊</button></li>
					</ul>
				</nav>
			</div>
		</header>
		<section>
			<div class="welcome welcome__bg">
				<div class="welcome__item">
					<div class="slogan">
						<h1>輕鬆享受台北一日悠閒</h1>
						<span>探索每個角落，體驗城市的深度旅遊行程</span>
					</div>

					<div class="search">
						<input
							class="search_bar search_bar__font"
							type="text"
							placeholder="輸入景點名稱查詢"
						/>
						<button type="button"></button>
					</div>
				</div>
			</div>
		</section>
		<main>
			<nav class="list_bar">
				<button class="left_container"></button>
				<div class="container">emklmkl</div>
				<button class="right_container"></button>
			</nav>
			<div class="attractions">skdmvklm</div>
		</main>
		<footer class="footer__text footer__bg">
			COPYRIGHT © 2021 台北一日遊
		</footer>
	</body>
</html>
