<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Base</title>
		<link
			rel="stylesheet"
			type="text/css"
			href="https://unpkg.com/ress/dist/ress.min.css"
		/>
		<link rel="stylesheet" type="text/css" href="../static/index.css" />
		<script defer type="text/javascript" src="../static/index.js"></script>
	</head>
	<body>
		<header class="head fixed-top nav-sm">
			<div class="container">
				<h1 href="">台北一日遊</h1>
				<nav>
					<ul class="header-nav">
						<li><button type="button">預定行程</button></li>
						<li><button type="button">登入/註冊</button></li>
					</ul>
				</nav>
			</div>
		</header>
		<section>
			<div class="welcome welcome__bg">
				<div class="welcome__item container">
					<div class="slogan">
						<h1>輕鬆享受台北一日悠閒</h1>
						<span>探索每個角落，體驗城市的深度旅遊行程</span>
					</div>

					<div class="search">
						<input
							id="searchBox"
							class="search_bar search_bar__font"
							type="text"
							placeholder="輸入景點名稱查詢"
						/>
						<button id="searchButton" type="button"></button>
					</div>
				</div>
			</div>
		</section>
		<main class="container">
			<nav class="list_bar">
				<button id="left_btn" class="left_btn"></button>
				<div id="mrts_container" class="mrts_container"></div>
				<button id="right_btn" class="right_btn"></button>
			</nav>
			<div id="attractions" class="attractions"></div>
		</main>
		<footer class="footer">
			<div class="container footer__text">
				COPYRIGHT © 2021 台北一日遊
			</div>
		</footer>
	</body>
</html>
