{% extends "base.html" %} {% block CSSstyle %}
<link rel="stylesheet" type="text/css" href="../static/css/index.css" />

{% endblock %} {% block Content %}
<section>
	<div class="welcome">
		<div class="welcome__item container">
			<div class="slogan">
				<div class="h1-bold">輕鬆享受台北一日悠閒</div>
				<div class="body-bold">
					探索每個角落，體驗城市的深度旅遊行程
				</div>
			</div>

			<div class="search">
				<input
					id="searchBox"
					class="search_bar body-bold"
					type="text"
					placeholder="輸入景點名稱查詢"
				/>
				<button id="searchButton" type="button"></button>
			</div>
		</div>
	</div>
</section>
<main class="container">
	<nav class="list_bar">
		<button id="left_btn" class="left_btn"></button>
		<div id="mrts_container" class="mrts_container"></div>
		<button id="right_btn" class="right_btn"></button>
	</nav>
	<div id="attractions" class="attractions"></div>
</main>
{% endblock %} {% block Script %}
<script defer type="module" src="../static/js/index.js"></script>

{% endblock %}
